<!DOCTYPE html>
<html>

<head>
    <title>Strawberry GraphiQL</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            width: 100%;
        }

        #graphiql {
            height: 100vh;
        }
    </style>

    <link href="https://unpkg.com/graphiql/graphiql.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/whatwg-fetch@2.0.3/fetch.js"
        integrity="sha384-KaKx4aJnrltBb2dne61B/MRPA4uRfQvv6YW99RgjHax8TRjFxcC4BC19EEX0te/6"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@16.8.6/umd/react.production.min.js"
        integrity="sha384-qn+ML/QkkJxqn4LLs1zjaKxlTg2Bl/6yU/xBTJAgxkmNGc6kMZyeskAG0a7eJBR1"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@16.8.6/umd/react-dom.production.min.js"
        integrity="sha384-85IMG5rvmoDsmMeWK/qUU4kwnYXVpC+o9hoHMLi4bpNR+gMEiPLrvkZCgsr7WWgV"
        crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/graphiql/graphiql.min.js"></script>
    <script src="https://unpkg.com/js-cookie@3.0.0-rc.2/dist/js.cookie.umd.min.js"></script>

    <!-- breaking changes in subscriptions-transport-ws since 0.9.0 -->
    <script src="https://unpkg.com/subscriptions-transport-ws@0.8.3/browser/client.js"></script>
    <script src="https://unpkg.com/graphiql-subscriptions-fetcher@0.0.2/browser/client.js"></script>
</head>

<body>
    <div id="graphiql"></div>
    <script>
        var fetchURL = window.location.href;
        var headers = JSON.stringify({"Authorization": "%TOKEN%"});

        function httpUrlToWebSockeUrl(url) {
            return url.replace(/(http)(s)?\:\/\//, "ws$2://");
        }

        function onEditHeaders(headersString) {
            headers = headersString;
        }

        function graphQLFetcher(graphQLParams) {
            var parseHeaders = headers ? JSON.parse(headers) : {};

            var _headers = Object.assign({}, {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            }, parseHeaders);

            var csrfToken = Cookies.get('csrftoken');
            if (csrfToken) {
                _headers['x-csrftoken'] = csrfToken;
            }

            return fetch(fetchURL, {
                method: 'post',
                headers: _headers,
                body: JSON.stringify(graphQLParams),
            })
                .then(function (response) {
                    return response.text();
                })
                .then(function (responseBody) {
                    try {
                        return JSON.parse(responseBody);
                    } catch (error) {
                        return responseBody;
                    }
                });
        }

        var subscriptionsEndpoint = httpUrlToWebSockeUrl(fetchURL);
        var subscriptionsEnabled = '{{ SUBSCRIPTION_ENABLED }}' ? JSON.parse('{{ SUBSCRIPTION_ENABLED }}')  : false

        const subscriptionsClient =
            subscriptionsEnabled ? new window.SubscriptionsTransportWs.SubscriptionClient(
                subscriptionsEndpoint,
                {
                    reconnect: true
                }
            ) : null;

        const graphQLFetcherWithSubscriptions =
            window.GraphiQLSubscriptionsFetcher.graphQLFetcher(
                subscriptionsClient,
                graphQLFetcher
            );

        ReactDOM.render(
            React.createElement(GraphiQL, {
                fetcher: graphQLFetcherWithSubscriptions,
                headers: headers,
                onEditHeaders: onEditHeaders,
            }),
            document.getElementById('graphiql'),
        );
    </script>
</body>

</html>
